<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feast Fusion Menu</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <h1>Welcome to Feast Fusion</h1>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="order.html">Order</a></li>
        <li><a href="aboutus.html">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="menu">
      <h2>Our Menu</h2>
      <div class="menu-category">
        <h3>Breakfast</h3>
        <ul>
          <li>Coffee</li>
        </ul>
      </div>
      <div class="menu-category">
        <h3>Main Courses</h3>
        <ul>
          <li>Baked-chicken</li>
          <li>Fries</li>
          <li>Burger</li>
          <li>Pizza</li>
         </ul>
      </div>
      <div class="menu-category">
        <h3>Desserts</h3>
        <ul>
          <li>Ice Cream</li>
        </ul>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Feast Fusion. All rights reserved.</p>
  </footer>
  <script src="js/script.js"></script>
</body>
</html>
